{% extends 'tutoria/nonav.html' %}
{% block body %}
  <main role="main" class="container">
    <div class="jumbotron main-container page-title" style="
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    padding-bottom: 30px;">
    <div class="container">

      <form class="form-signin" method="post">
        {% csrf_token %}
        <!-- <h2 class="form-signin-heading">Tutoria Login</h2> -->
        <legend><center><h2><b>Tutoria Login</b></h2></center></legend><br>
          <label class="col-md-5 control-label">Username</label>
        <input type="text"  name="username" required autofocus>
        <label class="col-md-5 control-label">Password</label>
        <input type="password" id="inputPassword"  name="password" required>
        <br><br>
        <!-- <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button> -->
        <button type="submit" class="btn btn-primary col-md-5" style="position: relative;left: 25%;right: 50%;">SIGN IN</button>
          <br><br>
        <a href="/password_reset" style="position: relative;left: 30%;right: 50%;">Forgot Password</a>
      </form>
    </div>
  </div>
</main>
{% endblock %}
