{% extends 'tutoria/nonav.html' %}
{% block body %}
<style media="screen">
table {
  border-collapse: collapse;
}

td {
  padding-top: .5em;
  padding-bottom: .5em;
}
</style>
<main role="main" class="container">
  <div class="jumbotron" style="text-align:center;">
    {%if notify%}{{notify}}{%endif%}
    <h1>Add / Remove Courses</h1>
    <form class="well form-horizontal" action="/tutoria/admin_panel/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <table style="text-align: center; align:center" align="center">
        <tr>
          <td>Add Subject</td>
          <td><input type="text" name="sub" value=""></td>
        </tr>
        <tr>
          <td>Course Code</td>
          <td><input type="text" name="code" value=""> <br></td>
        </tr>
      </table>
      <button class ="btn btn-lg btn-primary" type="submit" name="button", style="height:40px">
        <a href="#">Submit</a>
      </button>
      <br>
      <br>
      <div>
        <label> Remove Courses </label> <input type="text" name="remsub" value="{% for course in courses %}{{course}}{%endfor%}"data-role="tagsinput"> <br>
      </div>


    </form>
    <br>
    <button class ="btn btn-lg btn-primary" type="submit" name="button", style="height:40px">
      <a href="/tutoria/logout">logout</a>
    </button>

  </div>
</main>

{% endblock %}
