<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Tutoria</title>
    {% load staticfiles %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'tutoria/style.css' %}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet ">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet " type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet ">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">


  </head>
  <style media="screen" type="text/css">
  .bootstrap-tagsinput {
      width: 50%;
  }
  .label {
      line-height: 2 !important;
  }

.bootstrap-tagsinput .tag {
      margin-right: 2px;
      color: #bb6767;
  }
  </style>

  <body id="page-top">
{% load static %}
    <nav class="navbar navbar-expand-lg navbar-shrink fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/tutoria/dashboard">Tutoria</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto nav-link-container">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/tutoria/dashboard"><img src="{% static "img/house.png" %}"></a>
            </li>
            {%if student%}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/tutoria/search"><img src="{% static "img/magnifying-glass.png" %}"></a>
            </li>
            {%endif%}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/tutoria/notifications"><img src="{% static "img/star.png" %}"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/tutoria/logout"><img src="{% static "img/logout.png" %}"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}
  </body>
  </html>

  <script type="text/javascript">

    $('#due_amount_copy').text('{{tutor.rate}}');

    $('#final_due_amount').val('{{tutor.rate}}');

    var code = "";

    $('#coupon_code').on('change', function(e){
      code = $(this).val();
    })

    $('#coupon_test').on('click', function(e){
      $.ajax({
        url : '/tutoria/coupon/' + code,
        success : function(data){
          console.log(data);
          if (data["success"] === true){
            var discount = parseInt(data["discount"]);
            console.log("discount", discount);
            var old =  $('#due_amount').text() ;
            console.log("old", old);
            var final = old - (discount/100)*old;
            $('#due_amount').text(final);
            $('#due_amount_copy').text(final);
            $('#final_due_amount').val(final);
            console.log(final);
            $(".invalid").empty();
          }
          else{
            $(".invalid").append("<h3>fuck off</h3>")
          }
        }
      })
    })

  </script>

  <script>
  $(document).ready(function() {

    $(".sort").change(function() {

      if (this.checked) {
        $(".result li").sort(sort_li).appendTo('.result');
        console.log('hi');

        function sort_li(a, b) {
          return parseInt($(b).data('position')) < parseInt($(a).data('position')) ? 1 : -1;
        }
      } else {

        $(".result li").sort(sort_li).appendTo('.result');

        function sort_li(a, b) {
          return parseInt($(b).data('position')) > parseInt($(a).data('position')) ? 1 : -1;
        }
      }
    }
  );
  });
  </script>
