<!--<style media="screen">
a {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */
a {
text-decoration: none;
}
</style>-->

<h3>Tutoria Dashboard</h3>
<nav><a href="/tutoria/notifications">Notifications</a><br></nav>
<h4>Hey {{name}}</h4>

<h4>Booked</h4>
{% if tutor %}
<h5>As Tutor</h5><br>
{% for sesh in tutor_sessions %}
<ul>
    {% ifnotequal sesh.status 'BLOCKED' %}
      <li>{{sesh.start_time}} to  {{sesh.end_time}} with student --- {{sesh.student}}</li>
    {% endifnotequal %}

</ul>

{% endfor %}
<br>
<h5>Your balance: </h5>
{{balance}}
<a href="/tutoria/manage_timetable/tutor">Manage teacher timetable</a>
<br>
<br>
{% endif %}
{% if student %}
<h5>As Student</h5><br>
{% for sesh in student_sessions %}
<ul>
  <li>
    {{sesh.start_time}} to  {{sesh.end_time}} with tutor --- {{sesh.tutor}}
  </li>
</ul>
{% endfor %}
<br>

<h5>Balance: {{balance}}</h5>
<a href="/tutoria/manage_timetable/student">Manage student timetable</a>
<br><br>
{% endif %}
<h4>Transaction History</h4>
<h5>Outgoing Transactions</h5>
{% for transaction in transactions_outgoing %}
<ul>
  <li>
    Made to  {{transaction.tutor}} with amount {{transaction.amount}} --- for session: {{transaction.start_time}} to  {{transaction.end_time}}
  </li>
</ul>
{% endfor %}
<br>
<h5>Incoming Transactions</h5>
{% for transaction in transactions_incoming %}
<ul>
  <li>
    Made by {{transaction.student}} with amount {{transaction.amount}} --- for session: {{transaction.start_time}} to  {{transaction.end_time}}
  </li>
</ul>
{% endfor %}
<br>
<button type="button" name="button">
<a href="/tutoria/search">Search for Tutors</a><br></button>

<button type="button" name="button">
<a href="/tutoria/add_funds">Add money</a><br></button>

{% if tutor %}
<button type="button" name="button">
<a href="/tutoria/withdraw_funds">Withdraw money</a><br></button>

{% endif %}

<br><br>
<button type="button" name="button"><a href="/tutoria/logout"> Logout </a></button>
