  {% extends 'tutoria/base.html' %}
  {% block body %}
      <main role="main" class="container">
        <div class="jumbotron main-container page-title">
          <div>
          <h1>Dashboard</h1></div>
          <span>img</span>

  <h4>Hey {{name}}</h4>
  <div class="content-container">

  {% if tutor %}

  <h2>{{tutor.first_name}}</h2>

  <h5>As Tutor</h5><br>

  {% for sesh in tutor_sessions %}
  <ul>
      {% ifnotequal sesh.status 'BLOCKED' %}
        <li>{{sesh.start_time}} to  {{sesh.end_time}} with student --- {{sesh.student}}</li>
      {% endifnotequal %}

  </ul>

  {% endfor %}

  <br>
  <button class="btn btn-primary dash-button"><a href="/tutoria/manage_timetable/tutor">Manage teacher timetable</a></button>
  <h5>Your balance: {{balance}}</h5>

  </div>
  <br>
  <br>
  {% endif %}
  {% if student %}
  <div class="content-container">
  <h5>As Student</h5><br>
  {% for sesh in student_sessions %}
  <ul>
    <li>
      {{sesh.start_time}} to  {{sesh.end_time}} with tutor --- {{sesh.tutor}}
    </li>
  </ul>
  {% endfor %}
  <br>
  <button class="btn btn-primary dash-button"><a href="/tutoria/manage_timetable/student">Manage student timetable</a></button>
  <h5>Balance: {{balance}}</h5>

  </div>
  <br><br>
  {% endif %}
  <div class="content-container">
  <h4>Transaction History</h4>
  <h5>Outgoing Transactions</h5>
  {% for transaction in transactions_outgoing %}
  <ul>
    <li>
      Made to  {{transaction.tutor}} with amount {{transaction.amount}} --- for session: {{transaction.start_time}} to  {{transaction.end_time}}
    </li>
  </ul>
  {% endfor %}
  <br>
  <h5>Incoming Transactions</h5>
  {% for transaction in transactions_incoming %}
  <ul>
    <li>
      Made by {{transaction.student}} with amount {{transaction.amount}} --- for session: {{transaction.start_time}} to  {{transaction.end_time}}
    </li>
  </ul>
  {% endfor %}
  </div>
  <br>

  {% if student %}
  <button type="button" name="button">
  <a href="/tutoria/search">Search for Tutors</a><br></button>
  {% endif %}

  <button type="button" name="button">
  <a href="/tutoria/add_funds">Add money</a><br></button>

  {% if tutor %}
  <button type="button" name="button">
  <a href="/tutoria/withdraw_funds">Withdraw money</a><br></button>

  <button type="button" name="button">
    <a href="/tutoria/view_profile/{{tutor.id}}">View Profile</a></br>
  </button>
  {% endif %}

  <br><br>
  <button type="button" name="button"><a href="/tutoria/logout"> Logout </a></button>
        </div>
      </main>

{% endblock %}
