{% extends 'tutoria/base.html' %}
{% block body %}

<main role="main" class="container">
<div class="jumbotron main-container">
  <div class="page-title">
<h1>Notifications</h1>
</div>
<!-- <ul> -->

  {% for notif in notifs %}
    <!-- <li> -->
        <div class="notif-container">
        <div class="notif-header">
        {%if notif.forSession%}
        <h2>Session Booking</h2>
        {%else%}
        <h2>Session Activity</h2>
        {%endif%}
        <p>{{notif.date}} - {{notif.time}}</p>
      </div>
      <div class="notif-deets">
            <h4>{{notif.title}}</h4>
            {%if notif.forSession%}
            <br>
            <button class="btn btn-primary tutoria-button1">
            {% if tutor %}
              <a href="/tutoria/session_tutor/{{notif.session.start_time | date:'Y-m-d H:i'}}/">View Session</a></button>
            {% else %}
              <a href="/tutoria/session_detail/{{notif.session.start_time | date:'Y-m-d H:i'}}/">View Session</a></button>
            {% endif %}
            {%elif notif.forReview%}
            <br>
            <button class="btn btn-primary tutoria-button1">
              <a href="/tutoria/write_review/{{notif.session.pk}}/">Write a review</a>
            </button>

            {%endif%}

      </div>
        </div>
  {% endfor %}
</div>
</main>
{% endblock %}
