<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Tutoria</title>
  {% load staticfiles %}

  <!-- <link rel="stylesheet" type="text/css" href="{% static 'tutoria/style.css' %}"/> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet ">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet " type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
  <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet ">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- Custom styles for this template -->
  <link href="{% static 'css/creative.css' %}" rel="stylesheet">

</head>
<style media="screen" type="text/css">
  .bootstrap-tagsinput {
    width: 50%;
  }

  .label {
    line-height: 2 !important;
  }

  .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: #bb6767;
  }
</style>

{% if student %}

<body id="page-top">
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-shrink fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/tutoria/dashboard">Tutoria</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto nav-link-container">
          <li class="nav-item">

            <a class="nav-link js-scroll-trigger" href="/tutoria/search"><img src="{% static "img/magnifying-glass.png" %}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/tutoria/notifications"><img src="{% static "img/star.png" %}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio"><img src="{% static "img/envelope.png" %}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact"><img src="{% static "img/settings.png" %}"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-inverse bg-inverse">
      <a class="navbar-brand navbar-right" href="/tutoria/logout">Logout</a>
      <a class="navbar-brand " href="/tutoria/dashboard">DashBoard</a>

    </nav> -->

    <main role="main" class="container">
      <div class="jumbotron main-container page-title">
        <h1>Tutor Search</h1>
        <form class="form-horizontal" role="form" action="/tutoria/name_search/" method="post">
          {% csrf_token %}
          <!-- <p>Search by name:</p> -->


        <div class="row">
          <div class="col-md-12">
            <div class="input-group" id="adv-search">
              <div class="search-div"><input type="text" name="nameSearch" style="max-width: 80%;"class="form-control" placeholder="Search by name" /></div>

                <input class="sort" type="checkbox">
                 Cheapest Rate

              <div class="input-group-btn">
                <div class="btn-group" role="group">
                  <span class="buttons" style="padding:0;">
                        <div class="dropdown dropdown-lg" id="myDropdown">
                            <button type="button" class="search-btn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters</button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                              <div class="form-group">
                                <input class="form-control" type="text" name="uniSearch" placeholder="University">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="text" name="courseSearch" placeholder="Course Code [XXXX0000]">
                              </div>
                              <div class="form-group">
                              <input class="form-control" type="text" name="subSearch" placeholder="Subject">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="text" name="tags" placeholder="Tag" size="35" style=" width: 100%;">
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="number"  min="0" max="1000" step="10" name="rateFrom" placeholder="Hourly Rate - From"/>
                              </div>
                              <div class="form-group">
                                <input class="form-control" type="number"  min="0" max="1000" step="10" name="rateTo" placeholder="Hourly Rate - To"/>
                              </div>
                                  <div class="form-group">
                                    <select class="form-control" name="typeSearch">
                                        <option value="contracted">Contracted</option>
                                        <option value="private">Private</option>
                                        <option value="" selected>All Types</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <select class="form-control" name="daySearch">
                                        <option value="Seven">Next Seven Days</option>
                                        <option value="" selected>All Days</option>
                                    </select>
                                  </div>
                                  <!-- <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> -->

                </div><button type="submit" name="button" class="btn btn-primary search-btn">Submit<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
              </div>

            </div>
          </div>
        </div>
    </div>


    <br>

    </form>

    <br>
    <div class="result container">
      <!-- <ul class="tutorlist"> -->
      {% for tutor in tutors %}
      <li data-position="{{tutor.rate}}">
        <table class="">

        </table>
        <div class="brief-container">
          <span class="prof-container">
            <div class="avatar">
                {%if tutor.avatar%}
                <img src="{{tutor.avatar.url}}">
                {%else%}
                <img src="{% static "img/avatar.png" %}">
                {%endif%}
            </div>
            <div class="deets">
                  <span class="brief-prof-header">
                    <h3><a href="/tutoria/view_profile/{{tutor.id}}">{{tutor.first_name}} {{tutor.last_name}}</a></h3>
                    <div class="rating"><img src="{% static "img/star-32.png"%}">
                    {% if tutor.hasRating %}
                      <p>{{tutor.rating}}</p>
                      {%else%}
                      <p>Unrated</p>
                      {%endif%}

            </div>
          <div class="head-descript">
                    <span class="prof-detail"><h4>University :</h4>&nbsp<p>{{tutor.university}}</p></span>
                    <span class="prof-detail"><h4>Tutor Type :</h4>
                    <p>{% if tutor.tutortype == "private" %}Rate: {{tutor.rate}} HKD {% else %} {{tutor.tutortype}} {% endif %} </p></span>
                    <span class="prof-detail"><h4>Bio :</h4><p>{{tutor.biography}}</p></span></div>
        </div>
        </span>
        <br>
    </div>
    </li>

    {% endfor %}
    <!-- </ul> -->
    </div>
    </div>
  </main>

  <script>
    $(document).ready(function() {

      $(".sort").change(function() {

          if (this.checked) {
            $(".result li").sort(sort_li).appendTo('.result');
            console.log('hi');

            function sort_li(a, b) {
              return parseInt($(b).data('position')) < parseInt($(a).data('position')) ? 1 : -1;
            }
          } else {

            $(".result li").sort(sort_li).appendTo('.result');

            function sort_li(a, b) {
              return parseInt($(b).data('position')) > parseInt($(a).data('position')) ? 1 : -1;
            }


          }
        }

      );

    });
  </script>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')
  </script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
{% else %} Access Denied {% endif %}

</html>
