<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Tutoria</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'tutoria/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <a class="navbar-brand navbar-right" href="/tutoria/logout">Logout</a>
      <a class="navbar-brand " href="/tutoria/dashboard">DashBoard</a>

    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Search</h1>
        <form class="form-horizontal" role="form" action="/tutoria/nameSearch/" method="post">
          {% csrf_token %}
          <p>Search by name:</p>


  <div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" name="nameSearch" class="form-control"  placeholder="Search" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg" id="myDropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                              <div class="form-group">
                                <select class="form-control" name="uniSearch">
                                    <option value="HKU">HKU</option>
                                    <option value="" selected>All Univerisities</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <select class="form-control" name="courseSearch">
                                    <option value="COMP2123">COMP2123</option>
                                    <option value="ENGG1111">ENGG1111</option>
                                    <option value="" selected>All Courses</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <select class="form-control" name="subSearch">
                                    <option value="C++">C++</option>
                                    <option value="JAVA">JAVA</option>
                                    <option value="" selected>All Subjects</option>
                                </select>
                              </div>
                                  <div class="form-group col-md-6">
                                    <input class="form-control" type="number" name="rateFrom" placeholder="Hourly Rate - From"/>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <input class="form-control" type="number" name="rateTo" placeholder="Hourly Rate - To"/>
                                  </div>
                                  <div class="form-group">
                                    <select class="form-control" name="typeSearch">
                                        <option value="contracted">Contracted</option>
                                        <option value="private">Private</option>
                                        <option value="" selected>All Types</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <select class="form-control" name="daySearch">
                                        <option value="Seven">Next Seven Days</option>
                                        <option value="" selected>All Days</option>
                                    </select>
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                            </div>
                        </div>
                        <button type="submit" name="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
          {% if nameSearch %}
          <div class="col-md-12 col-md-offset-5">
            <br>
            <div>
              <input class="sort" type="checkbox">
              <label>Sort by Cheapest Rate</label>
          </div>
        </div>
          <br><br>{%endif%}&nbsp


        </form>
        <br>
        <ul class="tutorlist">
          {% for tutor in tutors %}

            <li data-position="{{tutor.rate}}">
                  <p><a href="/tutoria/viewProfile/{{tutor.id}}">{{tutor.username}}</a></p>
                  <p>{% if tutor.tutortype == "private" %}Rate: {{tutor.rate}} HKD {% else %} {{tutor.tutortype}} {% endif %} </p>
                  <p>{{tutor.biography}}</p>
                  <br>
            </li>

          {% endfor %}
        </ul>
      </div>
    </main>

<script>

$(document).ready(function() {

  $(".sort").change(function() {

    if(this.checked){
  $(".tutorlist li").sort(sort_li).appendTo('.tutorlist');
  function sort_li(a, b) {
    return parseInt($(b).data('position')) < parseInt($(a).data('position')) ? 1 : -1;
  }
}else{

  $(".tutorlist li").sort(sort_li).appendTo('.tutorlist');
  function sort_li(a, b) {
    return parseInt($(b).data('position')) > parseInt($(a).data('position')) ? 1 : -1;
  }


}
}

  );

});

</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
