<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <script scr=""></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Tutoria</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  </head>
  <style media="screen">
  a {color:#000000;}      /* unvisited link */
  a:visited {color:#000000;}  /* visited link */
  a:hover {color:#000000;}  /* mouse over link */
  a:active {color:#000000;}  /* selected link */
  a {
  text-decoration: none;
  }
  </style>
  <body>
    <form class="well form-horizontal" action="" method="post" onsubmit="return validateMyForm();" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Register as Tutor:</h3>
      <h4>Yes <input type="checkbox" name="checks" value="tutor" id="isTutor">
        <br>
        <div id="tutorOption" style="display:none">
          Contracted <input type="checkbox" id="contracted" class="tutorClass" value="contracted" name="checks"><br>
          <h4>Private <input type="checkbox" id="private" class="tutorClass" value="private" name="checks">
          University <input type="text" name="university" value=""><br>
          Biography <input type="text" name="biography" value=""><br>
          Upload Profile Photo <input type="file" name="myfile" value="hi">
          <div id="tutorRate" style="display:none">Rate <input type="number" name="rate" value=""></div>
        </div>
      </h4>
      <h3>Register as Student:</h3>
      <h4>Yes <input type="checkbox" name="checks" value="student" id="isStudent"><br><br></h4>

      <!-- <-h3>Phone Number</h3> -->
        <h4>Phone Number: <input type="tel" name="tel"><br><br></h4>

      <h3>Wallet Settings</h3>
        <h4>Add to Wallet: $$ <input type="number" name="balance" min="0" max="1000" placeholder="" step="10"><br><br></h4>

      <!-- <h3>Upload File</h3> -->



      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>

<script type="text/javascript">

  // lets you check only private or contracted
  $('input.tutorClass').on('change' ,function(){
    $('input.tutorClass').not(this).prop('checked', false);
  });

  // fades in tutor options based on tutor selection
  $('#isTutor').change(function(){
    if(this.checked){
      $('#tutorOption').fadeIn('slow');
    }else{
      $('#tutorOption').fadeOut('slow');
    }
  })

  $('#private').change(function(){
    if(this.checked){
      $('#tutorRate').fadeIn('slow');
    }else{
      $('#tutorRate').fadeOut('slow');
    }
  })

  $('#contracted').change(function(){
    if(this.checked){
      $('#tutorRate').fadeOut('slow');
    }
  })

  // checks whether tutor is selected
  function validateMyForm(){

      var student = $('#isStudent').is(":checked");
      var tutor = $('#isTutor').is(":checked");
      var type1 = $('#contracted').is(":checked");
      var type2 = $('#private').is(":checked");


      if(tutor && (type1 || type2)){
        return true;
      }
      else if(student){
        return true;
      }
      else{
        alert('validation failed. check');
        return false;
      }

  }
</script>
