<!--<style media="screen">
a {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */
a {
text-decoration: none;
}
</style> -->
<h3>{{tutor.username}}</h3>
<br>
{% for sesh in sessions %}
<ul>
  <li>
    {% ifnotequal sesh.status 'vacant' %}
      {{sesh.time |date:'Y-m-d H:i'}}  ---- Booked
    {% else %}
      {{sesh.time |date:'Y-m-d H:i'}} <a href="/tutoria/book/{{tutor.id}}/{{sesh.time |date:'Y-m-d H:i'}}"> Book </a>
    {% endifnotequal %}
  </li>
</ul>
{% endfor %}


<!-- <button type="button" name="button"><a href="/tutoria/book/{{tutor.id}}/{{sesh.date}}/{{sesh.time}}">Book</a></button> -->
