{% extends 'tutoria/base.html' %}
{% block body %}
    <main role="main" class="container">
      <div class="jumbotron main-container page-title">

        <h1>Tutor Review</h1>
        <div class="brief-container">
          <form class="well form-horizontal" action="" method="post" onsubmit="return validateMyForm();">
      {% csrf_token %}
      <div class="form-container">
        <h4>Give your feedback</h4> <input class="tutoria-form-long" type="text" name="review" value="" id="rev">
        <br>
        <h4>Rate out of 5</h4><input class="tutoria-form" type="number" name="rating" id="rating"><br><div class="buttons"><button id="sub" class="btn btn-primary tutoria-button1" type="submit" name="button">Submit</button></div></div>

    </form>
        </div>
      </div>
    </main>
{% endblock %}
