<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
<script>
function validateMyForm(){
 
      if(($("#rev").val()).length<=5){
        alert("Review must be longer.");
        return false;
      }
      console.log(($("#rev").val()));
      if($("#rating").val()>5 || $("#rating").val()<0){
        alert("Rating must be between 0 and 5.");
        return false;
      }
      return true;

  }
</script>
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <title>Tutor Review</title>
    {% load staticfiles %}
    
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'tutoria/style.css' %}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet ">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet " type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet ">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">
{% load static %}
    <nav class="navbar navbar-expand-lg navbar-shrink fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/tutoria/dashboard">Tutoria</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto nav-link-container">
            <li class="nav-item">

              <a class="nav-link js-scroll-trigger" href="/tutoria/search"><img src="{% static "img/magnifying-glass.png" %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/tutoria/notifications"><img src="{% static "img/star.png" %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio"><img src="{% static "img/envelope.png" %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact"><img src="{% static "img/settings.png" %}"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron main-container page-title">
        
        <h1>Tutor Review</h1>
        <div class="brief-container">
          <form class="well form-horizontal" action="" method="post" onsubmit="return validateMyForm();">
      {% csrf_token %}
      <div class="form-container">
        <h4>Give your feedback</h4> <input class="tutoria-form-long" type="text" name="review" value="" id="rev">
        <br>
        <h4>Rate out of 5</h4><input class="tutoria-form" type="number" name="rating" id="rating"><br><div class="buttons"><button id="sub" class="btn btn-primary tutoria-button1" type="submit" name="button">Submit</button></div></div>
      
    </form>
        </div>
      </div>
    </main>
  </body>
  </html>
