<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tutoria</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">

  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-shrink fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tutoria</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="jumbotron" style="text-align:center;">
      Funds - {{wallet.amount}}<br><br>
      <form onSubmit="return confirm('Are you sure you wish to withdraw?');" action="/tutoria/mytutors/withdraw/" method="post">
        {% csrf_token %}
        Withdraw Funds <br><br>
        <input type="number" name="withdraw" value=""><br><br>
        <button class ="btn btn-lg btn-primary" type="submit" name="button", style="height:40px">Submit</button>
      </form>
      <br>
      <a href="/tutoria/logout">Logout</a>
    </div>
  </body>
</html>
