{% extends 'tutoria/nonav.html' %}
{% block body %}
    <div class="jumbotron" style="text-align:center;">
      Funds - {{wallet.amount}}<br><br>
      <form onSubmit="return confirm('Are you sure you wish to withdraw?');" action="/tutoria/mytutors/withdraw/" method="post">
        {% csrf_token %}
        Withdraw Funds <br><br>
        <input type="number" name="withdraw" value=""><br><br>
        <button class ="btn btn-lg btn-primary" type="submit" name="button", style="height:40px">Submit</button>
      </form>
      <br>
      <a href="/tutoria/logout">Logout</a>
    </div>

{% endblock %}
