{% extends 'tutoria/base.html' %}
{% block body %}
    <form class="well form-horizontal" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Update Profile</h3>
        <br>
        <div>
          First Name <input type="text" name="first_name" value="{{tutor.first_name}}"><br>
          Last Name <input type="text" name="last_name" value="{{tutor.last_name}}"><br>
          University <input type="text" name="university" value="{{tutor.university}}"><br>
          Biography <input type="text" name="biography" value="{{tutor.biography}}"><br>
          Deactivate Profile<input type="checkbox" name="isHidden" value="True"><br>
          Upload Profile Photo <input type="file" name="myfile" value="">
          Rate <input type="number" name="rate" value="{{tutor.rate}}">
          Phone Number: <input type="tel" name="tel" value="{{tutor.phoneNumber}}"><br>
          Tags <input type="text" name="tags" value="{{tutor.tags}}" data-role="tagsinput">

        </div>
      <button type="submit" name="button">Submit</button>
    </form>
{% endblock %}
