{% extends 'tutoria/nonav.html' %}
{% block body %}
    <main role="main" class="container">
      <div class="jumbotron main-container page-title" style="
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    padding-bottom: 30px;">
        <div class="container">

          <form class="well form-horizontal" action="/tutoria/register/" enctype="multipart/form-data" method="post" id="contact_form">
            {% csrf_token %}
            {% include 'tutoria/form-template.html' %}

              <button type="submit" class="btn btn-warning col-md-5" style="position: relative;
    left: 25%;
    right: 50%;">SUBMIT
                <span class="glyphicon glyphicon-send"></span>
              </button>
          </form>
        </div>
      </div>
    </main>

{% endblock %}
