
    <div class="container">

      <form class="well form-horizontal" action="/tutoria/register/" enctype="multipart/form-data" method="post" id="contact_form">
        {% csrf_token %}
        {% include 'tutoria/form-template.html' %}
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT
              <span class="glyphicon glyphicon-send"></span>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </button>
          </div>
        </div>
      </form>
    </div>
