<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Tutoria</title>
    {% load staticfiles %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'tutoria/style.css' %}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet ">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet " type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet ">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">


  </head>
  <style media="screen" type="text/css">
  .bootstrap-tagsinput {
      width: 50%;
  }
  .label {
      line-height: 2 !important;
  }

.bootstrap-tagsinput .tag {
      margin-right: 2px;
      color: #bb6767;
  }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-shrink fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tutoria</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto nav-link-container">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about"><img src="{% static 'img/magnifying-glass.png' %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services"><img src="{% static 'img/star.png' %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio"><img src="{% static 'img/envelope.png' %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact"><img src="{% static 'img/settings.png' %}"></a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
    <main role="main" class="container">
      <div class="jumbotron main-container page-title">
        <div class="container">
      {%if error%} {{error}} {% endif %}
    <form class="well form-horizontal" action="" method="post" onsubmit="return validateMyForm();" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Register as Tutor:</h3>
      <h4>Yes <input type="checkbox" name="checks" value="tutor" id="isTutor">
        <br>
        <div id="tutorOption" style="display:none">
          Contracted <input type="checkbox" id="contracted" class="tutorClass" value="contracted" name="checks"><br>
          <h4>Private <input type="checkbox" id="private" class="tutorClass" value="private" name="checks">
          University <input type="text" name="university" value=""><br>
          Biography <input type="text" name="biography" value=""><br>
          Upload Profile Photo <input type="file" name="myfile" value="hi">
          Primary Subject <input type="text" name="sub" value="">
          Course Code <input type="text" name="code" value=""> <br>
          Tags <input type="text" name="tags" value="" data-role="tagsinput">
          <div id="tutorRate" style="display:none">Rate <input type="number" name="rate" value="0" step="10"></div>
        </div>
      </h4>
      <h3>Register as Student:</h3>
      <h4>Yes <input type="checkbox" name="checks" value="student" id="isStudent"><br><br></h4>

      <!-- <-h3>Phone Number</h3> -->
        <h4>Phone Number: <input type="tel" name="tel"><br><br></h4>

      <h3>Wallet Settings</h3>
        <h4>Add to Wallet: $$ <input type="number" name="balance" min="0" max="1000" placeholder="" step="10"><br><br></h4>

      <!-- <h3>Upload File</h3> -->



      <button type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
</main>
  </body>
</html>

<script type="text/javascript">

  // lets you check only private or contracted
  $('input.tutorClass').on('change' ,function(){
    $('input.tutorClass').not(this).prop('checked', false);
  });

  // fades in tutor options based on tutor selection
  $('#isTutor').change(function(){
    if(this.checked){
      $('#tutorOption').fadeIn('slow');
    }else{
      $('#tutorOption').fadeOut('slow');
    }
  })

  $('#private').change(function(){
    if(this.checked){
      $('#tutorRate').fadeIn('slow');
    }else{
      $('#tutorRate').fadeOut('slow');
    }
  })

  $('#contracted').change(function(){
    if(this.checked){
      $('#tutorRate').fadeOut('slow');
    }
  })

  // checks whether tutor is selected
  function validateMyForm(){

      var student = $('#isStudent').is(":checked");
      var tutor = $('#isTutor').is(":checked");
      var type1 = $('#contracted').is(":checked");
      var type2 = $('#private').is(":checked");


      if(tutor && (type1 || type2)){
        return true;
      }
      else if(student){
        return true;
      }
      else{
        alert('validation failed. check');
        return false;
      }

  }
</script>
